*{
    padding: 0;
    margin: 0;
}
.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #ffffff;
    width: 100%;
}

.nav__list {
    list-style-type: none;
    display: none;
}

.nav__mobile {
    margin: 0;
    padding-right: 20px;
    align-items: center;
    height: 60px;
}

.header__title {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    color: #000000;
    letter-spacing: 10px;
    text-align: center;
}

.header__icon {
    list-style-type: none;
    height: 30px;
    color: #000000;
}

/* SECTION 1 */
h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    letter-spacing: 10px;
}

h2 {
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 3px;
    font-size: medium;
    padding-top: 20px;
    text-align: center;
}

p {
    font-family: 'Tangerine', cursive;
    text-align: justify;
}

#section1 {
    background-color: #000000;
    margin-top: 60px;
    width: 100%;
}

#section1__p {
    color: #ffffff;
    padding-bottom: 10px;
    font-weight: bolder;
}

#section1__h1 {
    color: #ffffff;
    padding-bottom: 20px;
}

/* SECTION 2 */

#section2 {
    background: #000000;
}
.img__section {
    height: 400px;
}

#section2__div {
   background-color: #ffffff;
}

.section2__p {
    color: #000000;
    text-align: center;
    margin: 10px auto;
}



/* FOOTER  */
footer {
    background: #ffffff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #000000;
    padding: 12px 15px;
}

#footer__a {
    color: #000000;
    text-decoration: none;
    padding: 25px 22px;
    margin: -24px -22px;
    width: 250px;
    display: block;
}

#footer__p {
    width: 250px;
    height: 5px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 8px;
    border: 1px solid #000000;
}

#footer__p:hover {
    background-color: #000000;
    color: #ffffff;
}

#footer__a:hover {
    color: #ffffff;
}